# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Build
build/
dist/
*.spec

# Local config
config.ini
.env

# Logs
logs/
*.log

# Reports
reports/

# Excel temp files
~$*.xlsx

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/